<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="591a4633-a34f-4bd6-ba93-a1a85591da52" Alias="globalFolderNavigationLinkForSite" Level="3">
  <Info>
    <Name>Global - Folder Navigation Link for Site</Name>
    <Icon>icon-list color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Folder</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9bcb8dbe-bca6-4a41-b6f8-dbd5bec856cf</Key>
      <Name>Items</Name>
      <Alias>navigationItems</Alias>
      <Definition>c6054e0f-b06f-438e-8001-ec27f8d0b32a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b1bad331-76ec-4f27-b5c2-6e7435af9fbc</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>