<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9078a986-2e7b-4eaf-be72-7b01b86e9721" Alias="CTA URL Picker" Level="3">
  <Info>
    <Name>CTA URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>uTPro/System+Default</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>