<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01d6cc31-73b3-49ca-a240-ac5d396bf1ff" Alias="Folder Sites - Global Settings - Content Picker" Level="3">
  <Info>
    <Name>Folder Sites - Global Settings - Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>uTPro/Folder+Sites+-+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "5c77b430-73bd-4770-a14a-4c7e68e16b9c,20101920-f3e0-4bff-91af-8fcce37a6269",
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Parent"
    }
  }
}]]></Config>
</DataType>