<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65f08d1f-ad43-4428-afb4-2b3d84e07643" Alias="uTPro - Endorsements - highlight - Block List Property Editor UI" Level="1">
  <Info>
    <Name>uTPro - Endorsements - highlight - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "387b74d5-d355-43c3-b89c-999f3a121f71",
      "label": "${title}"
    }
  ]
}]]></Config>
</DataType>