<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6054e0f-b06f-438e-8001-ec27f8d0b32a" Alias="uTPro - Global - Navigation Items - Block List" Level="3">
  <Info>
    <Name>uTPro - Global - Navigation Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>uTPro/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "editorSize": "full",
      "forceHideContentEditorInOverlay": true,
      "label": "${navLink[0].name} ${navOuterCSSClass}"
    }
  ],
  "maxPropertyWidth": "100%",
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true,
  "useSingleBlockMode": false
}]]></Config>
</DataType>