:root {
    --umb-login-primary-color: #f6821f !important;
    --uui-color-header-surface: #f6821f !important;
    --umb-login-greeting-color: #D9A44C !important;
    --uui-color-default-emphasis: #D9A44C !important;
    --uui-show-focus-outline: #ff9e40 !important;
    --uui-color-default: #f6821f !important;
    --uui-color-current: #FFCE40 !important;
    /* --uui-palette-violet-blue: #f6821f !important; */
    /* --uui-button-contrast: #000 !important; */
    --umb-login-curves-display: none;
    --umb-header-logo-display: none;
    --umb-login-header-font-size-large: 2rem;
}

textarea {
    resize: none;
}
