.block-preview-edit grid-section umb-block-grid-areas-container::after {
    content: '...';
    position: absolute;
    top: 0;
    left: -20px;
    font-weight: 700;
    font-size: 16px;
}

.block-preview-edit grid-section umb-block-grid-areas-container::after {
    content: '...';
}
