<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bce9879-0a9c-4052-b4b9-7f8459bdee02" Alias="Orifarm.png" Level="2">
  <Info>
    <Parent Key="5d7a1c69-dc81-40dc-b2c1-6d28c759b1dd">uTPro</Parent>
    <Path>/uTPro/Orifarmpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-30T15:30:18</CreateDate>
    <NodeName Default="Orifarm.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/uploads/image/4zji-orifarm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>