<?xml version="1.0" encoding="utf-8"?>
<Media Key="37745161-cecc-4394-a93b-8f64c5cc6ea3" Alias="banner-feature.jpg" Level="2">
  <Info>
    <Parent Key="5d7a1c69-dc81-40dc-b2c1-6d28c759b1dd">uTPro</Parent>
    <Path>/uTPro/bannerFeaturejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-30T14:24:03</CreateDate>
    <NodeName Default="banner-feature.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/uploads/image/30nd-banner-feature.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>