<?xml version="1.0" encoding="utf-8"?>
<Media Key="1380ae8a-f158-455b-92fc-1705ff19c863" Alias="bkg-login.jpg" Level="2">
  <Info>
    <Parent Key="5d7a1c69-dc81-40dc-b2c1-6d28c759b1dd">uTPro</Parent>
    <Path>/uTPro/bkgLoginjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-30T11:07:29</CreateDate>
    <NodeName Default="bkg-login.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/uploads/image/avsm-bkg-login.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>