<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2f21b94-12b9-4960-80b8-39820b6b25ea" Alias="logo.svg" Level="2">
  <Info>
    <Parent Key="5d7a1c69-dc81-40dc-b2c1-6d28c759b1dd">uTPro</Parent>
    <Path>/uTPro/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-07-08T08:27:00</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/image/m0tf-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>