<?xml version="1.0" encoding="utf-8"?>
<Media Key="54d100b8-0004-4499-b75d-c565238d9105" Alias="Wembleymed.png" Level="2">
  <Info>
    <Parent Key="5d7a1c69-dc81-40dc-b2c1-6d28c759b1dd">uTPro</Parent>
    <Path>/uTPro/Wembleymedpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-30T15:26:57</CreateDate>
    <NodeName Default="Wembleymed.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/uploads/image/g5fj-wembleymed.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>