<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa244cd2-1430-4558-be8b-442e88bc5e81" Alias="Background Opacity - Numeric Property Editor UI" Level="3">
  <Info>
    <Name>Background Opacity - Numeric Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
    <Folder>uTPro/System+Default</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 1,
  "min": 0
}]]></Config>
</DataType>