<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbaa864f-a1ce-485f-ac21-38a6e68302a8" Alias="Global - Navigation Link - Content Picker" Level="3">
  <Info>
    <Name>Global - Navigation Link - Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>uTPro/Folder+Sites+-+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "591a4633-a34f-4bd6-ba93-a1a85591da52",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root"
    }
  }
}]]></Config>
</DataType>