<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc77fa24-e15e-4f9d-82e5-43bd1d00e88c" Alias="uTPro - Introduction Detail - List Feature - Block List Property Editor UI" Level="3">
  <Info>
    <Name>uTPro - Introduction Detail - List Feature - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>uTPro/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3502e170-fd3d-4961-a2f0-b28846c29f0a",
      "label": "${title}"
    }
  ]
}]]></Config>
</DataType>