<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5f1a7c2-3b4e-4a6d-9c81-2e5f7a9b1c3d" Alias="uTPro - Layout" Level="2">
  <Info>
    <Name>uTPro - Layout</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>uTPro</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "inherit",
    "full",
    "left-sidebar",
    "right-sidebar"
  ]
}]]></Config>
</DataType>