<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04517d3a-edf7-4d21-af7a-1b57c5f6929c" Alias="uTPro - Sidebar General - Block Grid" Level="3">
  <Info>
    <Name>uTPro - Sidebar General - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>uTPro/For+Site+uTPro</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d4971e6a-ca59-459b-98a5-30364eda75e8",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>