<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d75d06c9-f717-4c34-b941-7ff6ff0c2915" Alias="uTPro - Article Content - Block List Property Editor UI" Level="3">
  <Info>
    <Name>uTPro - Article Content - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>uTPro/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "be80a795-b398-4baa-860a-ee68b7124f11"
    },
    {
      "contentElementTypeKey": "a2b7648b-4303-443e-b175-abdcf1065509"
    }
  ]
}]]></Config>
</DataType>