<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bca07c25-6e90-4c68-8f5e-738821c107be" Alias="Page General - Block Grid" Level="2">
  <Info>
    <Name>Page General - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>uTPro</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "General",
      "key": "fe8ea2f2-83c1-45e5-962f-c3b0d41182dd"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "dc1acc39-eb7e-4807-a367-0846e580899e",
      "allowAtRoot": false,
      "allowInAreas": true,
      "label": "uTPro - Banner Header",
      "groupKey": "fe8ea2f2-83c1-45e5-962f-c3b0d41182dd",
      "areas": []
    },
    {
      "contentElementTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [
        {
          "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c",
          "alias": "center",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/assets/css/blockgridlayout.css",
  "useLiveEditing": true
}]]></Config>
</DataType>