<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bca07c25-6e90-4c68-8f5e-738821c107be" Alias="Page General - Block Grid" Level="2">
  <Info>
    <Name>Page General - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>uTPro</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "General",
      "key": "fe8ea2f2-83c1-45e5-962f-c3b0d41182dd"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "dc1acc39-eb7e-4807-a367-0846e580899e",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "uTPro - Banner Header",
      "groupKey": "fe8ea2f2-83c1-45e5-962f-c3b0d41182dd"
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>