<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d63287b-67c6-4c8d-b7ad-01335c374e05" Alias="uTPro Color Picker" Level="3">
  <Info>
    <Name>uTPro Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>uTPro/System+Default</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "f6821f",
      "label": ""
    },
    {
      "value": "D9A44C",
      "label": ""
    },
    {
      "value": "FFCE40",
      "label": ""
    },
    {
      "value": "fff",
      "label": ""
    },
    {
      "value": "f3f3f3",
      "label": ""
    },
    {
      "value": "282b34",
      "label": ""
    }
  ]
}]]></Config>
</DataType>