<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d8c525b6-c39b-47f9-9e7e-6cc60eae7a17" Alias="globalOneColumnSectionSetting" Level="4">
  <Info>
    <Name>One Column Section - Setting</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Element+Block+Grid/One+Column+Section</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1a4540bd-a771-4188-afad-bdc74c747247</Key>
      <Name>Spacing</Name>
      <Alias>addStyleSpacing</Alias>
      <Definition>e12a999b-fbc5-452b-b082-fa634c7fcc5f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="additionalStyles">Additional styles</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6860819f-6d9f-40ef-afca-e08938d27c8b</Key>
      <Name>Anchor Name</Name>
      <Alias>advancedAnchorName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a unique anchor name which can be used to link to the position of this component on a page. Any spaces will be converted to '_']]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ce7c262-3f82-4311-a7e3-eee06907e6f8</Key>
      <Name>Custom Classes</Name>
      <Alias>advancedCustomClasses</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add your own touch with specific classes. Leave a space between each class e.g. custom-class another-class]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>57a93a94-1c90-4a7e-a595-e63abc7aa59d</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>5fc55f08-0783-49a0-99bd-9f91f1656408</Key>
      <Caption>Additional styles</Caption>
      <Alias>additionalStyles</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>