<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d30b0d3-3472-43f6-9dd6-d3b4cff8eeed" Alias="globalPagePageCategoriesSetting" Level="3">
  <Info>
    <Name>Global - Page Categories Setting</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Inherited</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>182ea5d3-7483-4ae4-92ae-723ecf1418de</Key>
      <Name>Categories</Name>
      <Alias>pageCategories</Alias>
      <Definition>45a6b7c8-d9e0-4f12-a3b4-c5d6e7f80912</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select one or more categories to classify this page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="categories">Categories</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0955f2bc-1932-4322-996a-547e87fd731e</Key>
      <Caption>Categories</Caption>
      <Alias>categories</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>