<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4621b39c-974d-425a-b02c-5a36f930f02d" Alias="globalFolderPages" Level="3">
  <Info>
    <Name>Global - Folder Pages</Name>
    <Icon>icon-folder color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Folder</Folder>
    <Compositions />
    <DefaultTemplate>globalRedirectParent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ef298462-5019-424d-8fc4-769a6668be3a">globalRedirectParent</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7c36fe70-fc6f-4a21-b4db-460a7351e4e6" SortOrder="0">uTPro__PageStandard</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>dbe5f607-8293-44a5-96b7-283940516274</Key>
      <Name>Append To Inherited</Name>
      <Alias>appendToInherited</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When ON, the Top/Sidebar/Bottom set here are ADDED to the ones inherited from outer pages (e.g. the site header) instead of replacing them. When OFF, they override the inherited ones.]]></Description>
      <SortOrder>-2</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3c4d5e6-f708-4192-83a4-b5c6d7e8f901</Key>
      <Name>Bottom Component</Name>
      <Alias>bottomComponent</Alias>
      <Definition>bca07c25-6e90-4c68-8f5e-738821c107be</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Shared content shown BELOW every child page's content. Child pages can override.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/bottomContent">Bottom Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dad4e5f6-7182-4394-b5a6-172839405162</Key>
      <Name>Default Layout</Name>
      <Alias>defaultLayout</Alias>
      <Definition>d5f1a7c2-3b4e-4a6d-9c81-2e5f7a9b1c3d</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Layout applied to all child pages that don't set their own. Empty = full width.]]></Description>
      <SortOrder>-1</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1f2a3c4-d5e6-47f8-9a0b-1c2d3e4f5a6b</Key>
      <Name>Show In URL</Name>
      <Alias>showInUrl</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When ON, this folder's segment is included in the URL of its child pages, and the folder itself redirects to its parent page. When OFF (default), the folder is transparent and child URLs skip it]]></Description>
      <SortOrder>-3</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2b3c4d5-e6f7-4081-9293-a4b5c6d7e8f0</Key>
      <Name>Sidebar Component</Name>
      <Alias>sidebarComponent</Alias>
      <Definition>04517d3a-edf7-4d21-af7a-1b57c5f6929c</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Shared sidebar shown beside every child page (when layout is left/right). Child pages can override.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/sidebar">Sidebar</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a2b3c4-d5e6-4f70-8182-93a4b5c6d7e0</Key>
      <Name>Top Component</Name>
      <Alias>topComponent</Alias>
      <Definition>bca07c25-6e90-4c68-8f5e-738821c107be</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Shared content shown ABOVE every child page's content. Child pages can override.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/topContent">Top Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f0a1b2c3-d4e5-4067-8899-aabbccddeeff</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f1a2b3c4-d5e6-4078-899a-abbccddeef01</Key>
      <Caption>Top Content</Caption>
      <Alias>layout/topContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>f2a3b4c5-d6e7-4089-8a9b-bccddeeff012</Key>
      <Caption>Sidebar</Caption>
      <Alias>layout/sidebar</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f3a4b5c6-d7e8-409a-8b9c-cddeeff01234</Key>
      <Caption>Bottom Content</Caption>
      <Alias>layout/bottomContent</Alias>
      <Type>Group</Type>
      <SortOrder>99</SortOrder>
    </Tab>
  </Tabs>
</ContentType>