<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99419ccc-cf99-4690-8e5c-6fca6f1d641c" Alias="uTPro__PageListBase" Level="4">
  <Info>
    <Name>uTPro - Page List Base</Name>
    <Icon>icon-plugin color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition: shared fields for Page List and Search Results components (source, pagination, display options).</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>uTPro+-+Site/uTPro+%7c+Element+Type/Inherited</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e1a10001-0006-4000-a001-000000000006</Key>
      <Name>Filter by Category</Name>
      <Alias>pageListFilterCategory</Alias>
      <Definition>01d6cc31-73b3-49ca-a240-ac5d396bf1ff</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only show pages assigned to these categories. Empty = show all.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="dataSource">Data Source</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-0002-4000-a001-000000000002</Key>
      <Name>Items Per Page</Name>
      <Alias>pageListItemsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number of items per page. Default: 10.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="dataSource">Data Source</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-000b-4000-a001-00000000000b</Key>
      <Name>Layout Style</Name>
      <Alias>pageListLayout</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Layout: list, grid-2col, or grid-3col. Default: list.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="displayOptions">Display Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-0005-4000-a001-000000000005</Key>
      <Name>Max Depth</Name>
      <Alias>pageListMaxDepth</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How many levels deep to search for pages. 1 = direct children only. Default: 1.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="dataSource">Data Source</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-0003-4000-a001-000000000003</Key>
      <Name>Order By</Name>
      <Alias>pageListOrderBy</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sort field: sortOrder, createDate, updateDate, or name. Default: sortOrder.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="dataSource">Data Source</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-0004-4000-a001-000000000004</Key>
      <Name>Order Direction</Name>
      <Alias>pageListOrderDirection</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sort direction: asc or desc. Default: asc.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="dataSource">Data Source</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-000a-4000-a001-00000000000a</Key>
      <Name>Show Categories</Name>
      <Alias>pageListShowCategories</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display category badges/tags for each item.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="displayOptions">Display Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-0009-4000-a001-000000000009</Key>
      <Name>Show Date</Name>
      <Alias>pageListShowDate</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display the publish/create date in the list.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="displayOptions">Display Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-0008-4000-a001-000000000008</Key>
      <Name>Show Description</Name>
      <Alias>pageListShowDescription</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display the page description/excerpt in the list.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="displayOptions">Display Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-0007-4000-a001-000000000007</Key>
      <Name>Show Thumbnail</Name>
      <Alias>pageListShowThumbnail</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display the page thumbnail image in the list.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="displayOptions">Display Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a10001-0001-4000-a001-000000000001</Key>
      <Name>Source</Name>
      <Alias>pageListSource</Alias>
      <Definition>7ff3e084-379e-4c63-8d68-53e9245b00bf</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the Pages folder node to list children from. If empty, uses the current page's parent.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dataSource">Data Source</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e1a10001-0101-4000-a001-000000000101</Key>
      <Caption>Data Source</Caption>
      <Alias>dataSource</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e1a10001-0102-4000-a001-000000000102</Key>
      <Caption>Display Options</Caption>
      <Alias>displayOptions</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>