<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee353edb-8fb6-4ad5-ab25-5c83a058f531" Alias="uTPro__ContentLayout" Level="2">
  <Info>
    <Name>Content Layout</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>uTPro+-+Site</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d491fccc-8fd8-4e98-8932-faedb7d60812</Key>
      <Name>Bottom Component</Name>
      <Alias>bottomComponent</Alias>
      <Definition>bca07c25-6e90-4c68-8f5e-738821c107be</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/bottomContent">Bottom Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>941a9879-e00b-4f5c-acdc-9a9e56ba0199</Key>
      <Name>Top Component</Name>
      <Alias>topComponent</Alias>
      <Definition>bca07c25-6e90-4c68-8f5e-738821c107be</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout/topContent">Top Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>90ee1f6e-6d21-4fd9-a3c8-88b36833cfa0</Key>
      <Caption>Top Content</Caption>
      <Alias>layout/topContent</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>ba965af9-92e0-460f-88da-e4e551857838</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dd5e1b0a-2483-4472-99e8-ab44ea682a91</Key>
      <Caption>Bottom Content</Caption>
      <Alias>layout/bottomContent</Alias>
      <Type>Group</Type>
      <SortOrder>99</SortOrder>
    </Tab>
  </Tabs>
</ContentType>