<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12a67528-6f73-4a62-ae5c-9db09c4cbd31" Alias="uTPro__SearchResults" Level="3">
  <Info>
    <Name>uTPro - Search Results</Name>
    <Icon>icon-search color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Search form with paginated results. Inherits display options from Page List Base. Uses Examine index for full-text search.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>uTPro+-+Site/uTPro+%7c+Element+Type</Folder>
    <Compositions>
      <Composition Key="99419ccc-cf99-4690-8e5c-6fca6f1d641c">uTPro__PageListBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e2a20001-0004-4000-a002-000000000004</Key>
      <Name>Highlight Keywords</Name>
      <Alias>searchHighlightKeywords</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Highlight matching keywords in search results.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="searchSettings">Search Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2a20001-0002-4000-a002-000000000002</Key>
      <Name>Min Characters</Name>
      <Alias>searchMinChars</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Minimum characters required before search executes. Default: 3.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="searchSettings">Search Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2a20001-0003-4000-a002-000000000003</Key>
      <Name>No Results Message</Name>
      <Alias>searchNoResultsMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Message shown when no results found. Empty = uses dictionary key.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="searchSettings">Search Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2a20001-0001-4000-a002-000000000001</Key>
      <Name>Placeholder</Name>
      <Alias>searchPlaceholder</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Placeholder text for the search input. Empty = uses dictionary key.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="searchSettings">Search Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2a20001-0005-4000-a002-000000000005</Key>
      <Name>Search Scope</Name>
      <Alias>searchScope</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Scope: allSite, currentFolder, or selectedSource. Default: selectedSource (uses the Source field from Data Source tab).]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="searchSettings">Search Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e2a20001-0101-4000-a002-000000000101</Key>
      <Caption>Search Settings</Caption>
      <Alias>searchSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>