<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="355570d9-7316-419d-86a9-f959604fc23c" Alias="Accept" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Accept</Translation>
    <Translation Language="vi-VN">Chấp nhận</Translation>
  </Translations>
</Dictionary>