<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="461ac610-d007-425a-a257-08ce98a6b92e" Alias="Decline" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Decline</Translation>
    <Translation Language="vi-VN">Từ chối</Translation>
  </Translations>
</Dictionary>