<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="61724f78-be55-48fa-9a3b-73c331729701" Alias="Reset" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reset</Translation>
    <Translation Language="vi-VN">Reset</Translation>
  </Translations>
</Dictionary>