<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6b13f839-df19-4961-8e6c-291164beb491" Alias="SeeMore" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">See more</Translation>
    <Translation Language="vi-VN">Xem thêm</Translation>
  </Translations>
</Dictionary>