<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="11dd26bb-940a-42b8-adc7-fec8aacef1a2" Alias="Submit" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Submit</Translation>
    <Translation Language="vi-VN">Gửi</Translation>
  </Translations>
</Dictionary>