<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ecbed520-05cf-4d78-93df-192c46ee3a4d" Alias="uTPro.Form.ContactUs.Message.Validation" Level="3">
  <Info>
    <Parent>uTPro.Form.ContactUs.Message</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your message</Translation>
    <Translation Language="vi-VN">Vui lòng nhập nội dung lời nhắn</Translation>
  </Translations>
</Dictionary>