<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55e5fb8d-f725-4f0c-8b5f-9452d2d1097b" Alias="uTPro.Form.ContactUs.Response.Success" Level="3">
  <Info>
    <Parent>uTPro.Form.ContactUs.Response</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Thank you for contacting us! We will get back to you soon.</Translation>
    <Translation Language="vi-VN">Cảm ơn bạn đã liên hệ với chúng tôi! Chúng tôi sẽ liên lạc lại với bạn sớm nhất.</Translation>
  </Translations>
</Dictionary>