<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="72df8d24-551a-4a5e-82fd-0c438de01e1e" Alias="uTPro.Form.ContactUs.Email.Validation" Level="3">
  <Info>
    <Parent>uTPro.Form.ContactUs.Email</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter a valid your email address</Translation>
    <Translation Language="vi-VN">Vui lòng nhập địa chỉ email hợp lệ của bạn</Translation>
  </Translations>
</Dictionary>