<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="183b7522-b494-4a4d-a206-ce231737493e" Alias="uTPro.Form.ContactUs.Email" Level="2">
  <Info>
    <Parent>uTPro.Form.ContactUs</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Email address</Translation>
    <Translation Language="vi-VN">Địa chỉ email</Translation>
  </Translations>
</Dictionary>