<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="43c68641-3f41-448e-b46a-ee9268e41ae8" Alias="uTPro.Form.ContactUs.Name.Validation" Level="3">
  <Info>
    <Parent>uTPro.Form.ContactUs.Name</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your full name</Translation>
    <Translation Language="vi-VN">Vui lòng nhập họ tên của bạn</Translation>
  </Translations>
</Dictionary>