<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cbc3b259-409f-4f9d-905b-9d0864e0c6c6" Alias="uTPro.Form.ContactUs.Message" Level="2">
  <Info>
    <Parent>uTPro.Form.ContactUs</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Message</Translation>
    <Translation Language="vi-VN">Lời nhắn</Translation>
  </Translations>
</Dictionary>