<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d3b9cb98-ee45-4206-acc2-bf2a22f46daa" Alias="uTPro.Form.ContactUs.Name" Level="2">
  <Info>
    <Parent>uTPro.Form.ContactUs</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Full Name</Translation>
    <Translation Language="vi-VN">Họ và tên</Translation>
  </Translations>
</Dictionary>