<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="94bdf3f4-d2c8-4f54-a0b6-417fda3dedf3" Alias="uTPro.Form.ContactUs.AttachFile" Level="2">
  <Info>
    <Parent>uTPro.Form.ContactUs</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Attach File</Translation>
    <Translation Language="vi-VN">Đính kèm tệp</Translation>
  </Translations>
</Dictionary>