.navHeader {
    position: absolute;
    display: block;
    top: 2.5em;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
}

    .navHeader > ul {
        display: inline-block;
        border-radius: 0.35em;
        box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
        padding: 0 1em 0 0;
    }

        .navHeader > ul > li {
            display: inline-block;
            text-align: center;
            padding: 0 1.25em 0 1.25em;
            white-space: nowrap;
        }

            .navHeader > ul > li > ul {
                display: none;
            }

            .navHeader > ul > li > a,
            .navHeader > ul > li > * {
                display: block;
                color: #eee;
                color: rgba(255, 255, 255, 0.75);
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.7em;
                letter-spacing: 0.25em;
                height: 4em;
                line-height: 4em;
                -moz-transition: all .25s ease-in-out;
                -webkit-transition: all .25s ease-in-out;
                -o-transition: all .25s ease-in-out;
                -ms-transition: all .25s ease-in-out;
                transition: all .25s ease-in-out;
                outline: 0;
            }

                .navHeader > ul > li > a:hover {
                    color: #fff;
                }

            #navPanel > nav > li.active > a,
            .navHeader > ul > li.active > a,
            .navHeader > ul > li.active > span {
                color: #ff9e40;
            }

    .navHeader .nav-logo {
        height: 15px;
        width: 0;
        position: relative;
    }

        .navHeader .nav-logo img {
            width: 70px;
            height: 70px;
            position: absolute;
            background: rgba(255, 255, 255, 1);
            padding: 15px;
            border-radius: 50%;
            left: -25px;
            top: -25px;
        }

.dropotron {
    background: #222835 url("/assets/img/overlay.png");
    background-color: rgba(44, 50, 63, 0.925);
    padding: 1.25em 1em 1.25em 1em;
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
    min-width: 12em;
    text-align: left;
    margin-top: -1.25em;
    margin-left: -1px;
    list-style: none;
}

    .dropotron.level-0 {
        margin-top: -1px;
        margin-left: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .dropotron a,
    .dropotron span {
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        display: block;
        color: #eee;
        color: rgba(255, 255, 255, 0.75);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.7em;
        letter-spacing: 0.25em;
        border-top: solid 1px rgba(255, 255, 255, 0.15);
        line-height: 3em;
    }

    .dropotron li {
        padding-left: 0;
    }

        .dropotron li:first-child a,
        .dropotron li:first-child span {
            border-top: 0;
        }

        .dropotron li:hover > a,
        .dropotron li:hover > span {
            color: #fff;
        }
@media screen and (max-width: 980px) {
    .navHeader,
    .nav-show-not-mobile {
        display: none !important;
    }
}