@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<UTpro__Article>>
@{
}

@if (Context.Request.IsBlockPreviewRequest())
{
    <link rel="stylesheet" href="~/css/@CurrentSite.GetItem().Root.Name/Components/Article.css" />
}
else
{
    @using (Html.SetSection(Model.GetType().ToString(), HtmlSectionBlockExtensions.Position.BodyBottom))
    {
        <link rel="stylesheet" href="~/css/@CurrentSite.GetItem().Root.Name/Components/Article.css" />
    }
}
<div class="container">
    <div class="content">
        <article class="box post">
            <header class="style1">
                @if (!string.IsNullOrEmpty(Model.Content.Title))
                {
                    <h2>@Model.Content.Title</h2>
                }
                @if (!string.IsNullOrEmpty(Model.Content.Description))
                {
                    <p>@Model.Content.Description</p>
                }
            </header>
            @if (Model.Content.Thumbnail != null)
            {
                <div class="image featured">
                    <img src="@Model.Content.Thumbnail.Url()" alt="@Model.Content.Title" />
                </div>
            }
            @if (Model.Content.Content != null)
            {
                @await Html.GetBlockListHtmlAsync(Model.Content.Content, CurrentSite.GetItem().Root.Name)
            }
        </article>
    </div>
</div>