@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<UTpro__BannerHeader>>
@{
}
<section class="header wrapper">
    <div class="logo">
        <h1>@Model.Content.Title</h1>
        <p>@Model.Content.Description</p>
    </div>
</section>