
.highlights .highlight {
    text-align: center;
}

    .highlights .highlight h3 a {
        color: #f6821f;
        margin: 0 0 0.75em 0;
        font-size: 1.15em;
        letter-spacing: 0.05em;
    }

@media screen and (max-width: 980px) {
    .highlights .highlight {
        max-width: 40em;
        margin-left: auto;
        margin-right: auto;
    }
}
