.features header.style1 {
    padding-bottom: 5em;
}

.features ul.actions {
    margin-top: 5em;
}

@@media screen and (max-width: 736px) {
    /* Features */

    .features header.style1 {
        padding-bottom: 4em;
    }

    .features ul.actions {
        margin-top: 4em;
    }
}
