<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9f9113e-aa1f-4b7b-9beb-6d6d92c67fa0" Alias="Navigation Link" Level="3">
  <Info>
    <Parent Key="3b95e2c2-4845-4c0a-a702-322c484326c1">Sites</Parent>
    <Path>/uTPro/Sites/NavigationLink</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderNavigationLinkForSite</ContentType>
    <CreateDate>2025-12-07T21:48:01</CreateDate>
    <NodeName Default="Navigation Link">
      <Name Culture="vi-VN">Navigation Link</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationItems>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "key": "d52170cc-75d3-4677-9d25-011b0446a4fd",
      "udi": null,
      "values": [
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Trang ch\u1EE7",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/af44e48fd3d64cbfa57416be8973551c",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d52170cc-75d3-4677-9d25-011b0446a4fd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d52170cc-75d3-4677-9d25-011b0446a4fd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </navigationItems>
  </Properties>
</Content>