<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fb13b79-0d8c-4616-8e6f-88e6063bcb94" Alias="Bảo mật" Level="4">
  <Info>
    <Parent Key="af44e48f-d3d6-4cbf-a574-16be8973551c">Trang chủ</Parent>
    <Path>/uTPro/Sites/TrangChu/BaoMat</Path>
    <Trashed>false</Trashed>
    <ContentType>uTPro__PageStandard</ContentType>
    <CreateDate>2026-02-06T12:55:30</CreateDate>
    <NodeName Default="Bảo mật" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bc86c81e-57b2-4341-b65f-8a75ccfe60c2">globalLayout</Template>
  </Info>
  <Properties>
    <bodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </bodyClosingScripts>
    <bodyOpeningScripts>
      <Value><![CDATA[]]></Value>
    </bodyOpeningScripts>
    <bottomComponent>
      <Value><![CDATA[]]></Value>
    </bottomComponent>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <facebookAppId>
      <Value><![CDATA[]]></Value>
    </facebookAppId>
    <headerClosingScripts>
      <Value><![CDATA[]]></Value>
    </headerClosingScripts>
    <headerOpeningScripts>
      <Value><![CDATA[]]></Value>
    </headerOpeningScripts>
    <headKeywords>
      <Value><![CDATA[]]></Value>
    </headKeywords>
    <headSocialShareImage>
      <Value><![CDATA[]]></Value>
    </headSocialShareImage>
    <headTitleAndDescription>
      <Value><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "B\u1EA3o m\u1EADt"
}]]></Value>
    </headTitleAndDescription>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <sitemapHiddenSitemap>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenSitemap>
    <sitemapHiddenTheirChildren>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenTheirChildren>
    <sitemapStopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </sitemapStopInternalLinksBeingFollowed>
    <sitemapXmlChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXmlChangeFrequency>
    <sitemapXmlPriority>
      <Value><![CDATA[-0.1]]></Value>
    </sitemapXmlPriority>
    <topComponent>
      <Value><![CDATA[]]></Value>
    </topComponent>
    <twitterCardType>
      <Value><![CDATA[]]></Value>
    </twitterCardType>
    <twitterDescription>
      <Value><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value><![CDATA[]]></Value>
    </twitterImage>
    <twitterImageAlt>
      <Value><![CDATA[]]></Value>
    </twitterImageAlt>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
    <twitterTitle>
      <Value><![CDATA[]]></Value>
    </twitterTitle>
  </Properties>
</Content>