<?xml version="1.0" encoding="utf-8"?>
<Content Key="af44e48f-d3d6-4cbf-a574-16be8973551c" Alias="Trang chủ" Level="3">
  <Info>
    <Parent Key="3b95e2c2-4845-4c0a-a702-322c484326c1">Sites</Parent>
    <Path>/uTPro/Sites/TrangChu</Path>
    <Trashed>false</Trashed>
    <ContentType>uTPro__PageHome</ContentType>
    <CreateDate>2025-07-11T14:09:13</CreateDate>
    <NodeName Default="Trang chủ">
      <Name Culture="en-US">Home</Name>
      <Name Culture="vi-VN">Trang chủ</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template Key="bc86c81e-57b2-4341-b65f-8a75ccfe60c2">globalLayout</Template>
  </Info>
  <Properties>
    <bodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </bodyClosingScripts>
    <bodyOpeningScripts>
      <Value><![CDATA[]]></Value>
    </bodyOpeningScripts>
    <content>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "c40fecf7-f95e-40e6-9cc2-04b73d77b18a",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "290a6126-f754-45fb-8f6a-020f3b06ca3c",
              "mediaKey": "1380ae8a-f158-455b-92fc-1705ff19c863",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0.5"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#282b34"
          }
        }
      ]
    },
    {
      "contentTypeKey": "dc1acc39-eb7e-4807-a367-0846e580899e",
      "key": "ae3986a2-d809-422c-887f-dc7899da44f1",
      "udi": null,
      "values": [
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "uTPro is a powerful Starter Kit"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Umbraco Turbo Pro"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "33d68e35-9176-4801-bffe-395ccacbb896",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f6821f"
          }
        },
        {
          "alias": "backgroundOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "textColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "f752b7ba-a565-4cd0-9ff1-c9d7841c2324",
      "key": "898b0383-dda6-4a8b-9cbe-fbde233e6b74",
      "udi": null,
      "values": [
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EuTPro is a powerful Starter Kit Template built to accelerate website development on the Umbraco platform.\u003C/p\u003E\u003Cp\u003EIt enables developers to create enterprise\u2011grade websites faster, more reliably, and with a professional structure from day one.\u003C/p\u003E"
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Introduction"
        },
        {
          "alias": "callToAction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Try it for FREE",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://github.com/T4VN/uTPro/releases",
              "queryString": null
            }
          ]
        },
        {
          "alias": "special",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cstrong\u003ESPECIAL:\u0026nbsp;\u003C/strong\u003EWe also offer a\u0026nbsp;\u003Cstrong\u003ELOW COST premium\u0026nbsp;\u003C/strong\u003Eversion for those who want exclusive\u0026nbsp;customization tailored to their personal style. Your support means a lot to us!\u003C/p\u003E"
          }
        },
        {
          "alias": "highlight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "For developers, by developers"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "b45c3d2f-80ca-492e-a1c0-51642b77c819",
      "udi": null,
      "values": [
        {
          "alias": "backgroundOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fff"
          }
        },
        {
          "alias": "textColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "929db55f-d641-48c9-9a69-9c27461915e2",
      "key": "7e355dd7-8231-492f-ae42-5647318c92d3",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Details"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Is a powerful Starter Kit"
        },
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Umbraco Turbo Pro - uTPro"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "aa072677-beff-4975-8b0e-29021d626021",
              "mediaKey": "37745161-cecc-4394-a93b-8f64c5cc6ea3",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "callToActionMoreInfo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "More Info",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://github.com/T4VN/uTPro/wiki",
              "queryString": null
            }
          ]
        },
        {
          "alias": "callToActionGetStarted",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Get Started",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://github.com/T4VN/uTPro/releases",
              "queryString": null
            }
          ]
        },
        {
          "alias": "listFeature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3502e170-fd3d-4961-a2f0-b28846c29f0a",
                "key": "fbae4f50-1c62-499a-a7e6-385b713d3396",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Core Principles"
                  },
                  {
                    "alias": "classIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa-sync"
                  },
                  {
                    "alias": "list",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Umbraco Turbo Pro\nUniversal Template Project\nUltimate Tech Productivity"
                  }
                ]
              },
              {
                "contentTypeKey": "3502e170-fd3d-4961-a2f0-b28846c29f0a",
                "key": "702977bf-bb5d-4e25-8c69-1eeb5f01eff8",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Why uTPro?"
                  },
                  {
                    "alias": "classIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa-comment"
                  },
                  {
                    "alias": "list",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fast to start\nFlexible\nScalable\nFree \u0026 Open Source"
                  }
                ]
              },
              {
                "contentTypeKey": "3502e170-fd3d-4961-a2f0-b28846c29f0a",
                "key": "1a5a129e-9a5f-4581-a781-d4bc1eff3c3f",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Perfect for"
                  },
                  {
                    "alias": "classIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa-check"
                  },
                  {
                    "alias": "list",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Corporate websites and enterprise portals\nProduct landing pages and marketing campaigns\nDeveloper teams who want a consistent, professional starting point\nAgencies looking to deliver faster without sacrificing quality"
                  }
                ]
              },
              {
                "contentTypeKey": "3502e170-fd3d-4961-a2f0-b28846c29f0a",
                "key": "4f8c6514-f606-45bf-83f0-73c2d8373bf9",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Pre\u2011installed Utilities"
                  },
                  {
                    "alias": "list",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "SEO\nPerformance optimizations\nSample components\nPre\u2011configured build scripts"
                  },
                  {
                    "alias": "classIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa-cog"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "fbae4f50-1c62-499a-a7e6-385b713d3396",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "702977bf-bb5d-4e25-8c69-1eeb5f01eff8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1a5a129e-9a5f-4581-a781-d4bc1eff3c3f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4f8c6514-f606-45bf-83f0-73c2d8373bf9",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "fbae4f50-1c62-499a-a7e6-385b713d3396",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "702977bf-bb5d-4e25-8c69-1eeb5f01eff8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1a5a129e-9a5f-4581-a781-d4bc1eff3c3f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4f8c6514-f606-45bf-83f0-73c2d8373bf9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c40fecf7-f95e-40e6-9cc2-04b73d77b18a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ae3986a2-d809-422c-887f-dc7899da44f1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "33d68e35-9176-4801-bffe-395ccacbb896",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "898b0383-dda6-4a8b-9cbe-fbde233e6b74",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b45c3d2f-80ca-492e-a1c0-51642b77c819",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e355dd7-8231-492f-ae42-5647318c92d3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ae3986a2-d809-422c-887f-dc7899da44f1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c40fecf7-f95e-40e6-9cc2-04b73d77b18a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "898b0383-dda6-4a8b-9cbe-fbde233e6b74",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "33d68e35-9176-4801-bffe-395ccacbb896",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7e355dd7-8231-492f-ae42-5647318c92d3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b45c3d2f-80ca-492e-a1c0-51642b77c819",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
    <facebookAppId>
      <Value><![CDATA[]]></Value>
    </facebookAppId>
    <headerClosingScripts>
      <Value><![CDATA[]]></Value>
    </headerClosingScripts>
    <headerOpeningScripts>
      <Value><![CDATA[]]></Value>
    </headerOpeningScripts>
    <headKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[[
  "uTPro",
  "T4VN"
]]]></Value>
    </headKeywords>
    <headSocialShareImage>
      <Value><![CDATA[]]></Value>
    </headSocialShareImage>
    <headTitleAndDescription>
      <Value Culture="en-US"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "description": "Home Page",
  "title": "Home Page"
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "description": "uTPro gi\u00FAp b\u1EA1n t\u1EA1o website nhanh ch\u00F3ng, d\u1EC5 d\u00E0ng v\u1EDBi n\u1EC1n t\u1EA3ng m\u00E3 ngu\u1ED3n m\u1EDF linh ho\u1EA1t v\u00E0 t\u1ED1i \u01B0u cho m\u1ECDi nhu c\u1EA7u kinh doanh",
  "title": "Trang ch\u1EE7"
}]]></Value>
    </headTitleAndDescription>
    <navigationLink>
      <Value><![CDATA[umb://document/c9f9113eaa1f4b7b9beb6d6d92c67fa0]]></Value>
    </navigationLink>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageNotFound>
      <Value><![CDATA[umb://document/4a67e7b56a324381b1a8a9439b71eac9]]></Value>
    </pageNotFound>
    <sitemapHiddenSitemap>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenSitemap>
    <sitemapHiddenTheirChildren>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenTheirChildren>
    <sitemapStopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </sitemapStopInternalLinksBeingFollowed>
    <sitemapXmlChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXmlChangeFrequency>
    <sitemapXmlPriority>
      <Value><![CDATA[-0.1]]></Value>
    </sitemapXmlPriority>
    <twitterCardType>
      <Value><![CDATA[]]></Value>
    </twitterCardType>
    <twitterDescription>
      <Value><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value><![CDATA[]]></Value>
    </twitterImage>
    <twitterImageAlt>
      <Value><![CDATA[]]></Value>
    </twitterImageAlt>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
    <twitterTitle>
      <Value><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>