<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="local-simpleformbuilder" value="..\..\uTPro.Feature.SimpleFormBuilder\Build" />
    <add key="local-filemanager" value="..\..\uTPro.Feature.FileManager\Build" />
    <add key="local-auditlog" value="..\..\uTPro.Feature.AuditLog\Build" />-->
  </packageSources>
</configuration>
