@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<GlobalOneColumnSection>>
@{
    var bkg = string.Empty;
    var bkgImg = Model.Content.BackgroundImage?.Url() ?? "";
    var bkgColor = Model.Content.BackgroundColor ?? "";
    if (!string.IsNullOrEmpty(bkgImg))
    {
        if (!string.IsNullOrEmpty(bkgColor) && Model.Content.BackgroundOpacity < 1)
        {
            var color = ColorHelper.HexToRgb(Model.Content.BackgroundColor);
            if (color != null)
            {
                bkg = $@"
--section-bg-color:rgba({color.Value.R}, {color.Value.G}, {color.Value.B}, {Model.Content.BackgroundOpacity.ToString(System.Globalization.CultureInfo.InvariantCulture)});
--section-bg-url:url('{bkgImg}'); 
background-image:linear-gradient(var(--section-bg-color), var(--section-bg-color)), var(--section-bg-url);
background-position: bottom center;";

            }
        }
        else
        {
            bkg = $@"
--section-bg-url:url('{bkgImg}');
background-image:var(--section-bg-url);
background-position: bottom center;";
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(bkgColor))
        {
            bkg = $@"
--section-bg-color:{bkgColor};
background-color:var(--section-bg-color);";
            if (Model.Content.BackgroundOpacity < 1)
            {
                var color = ColorHelper.HexToRgb(Model.Content.BackgroundColor);
                if (color != null)
                {
                    bkg = $@"
--section-bg-color:rgba({color.Value.R}, {color.Value.G}, {color.Value.B}, {Model.Content.BackgroundOpacity.ToString(System.Globalization.CultureInfo.InvariantCulture)});
background-color:var(--section-bg-color);";
                }
            }
        }
    }

    var textColor = $@"--section-text-color:{Model.Content.TextColor ?? "#000"};";
}
<section class="@Model.Content.ContentType.Alias" style="@(bkg + textColor)">
    @await Html.GetPreviewBlockGridItemAreasHtmlAsync(Model)
</section>
