<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1b2c3d4-1111-4a5b-8c9d-e1f2a3b4c5d1" Alias="Bắt đầu" Level="5">
  <Info>
    <Parent Key="9eb08237-4211-4b50-9c26-c9b8b376d528">Hướng dẫn</Parent>
    <Path>/uTPro/Sites/TheLoai/HuongDan/BatDau</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderCategoryItem</ContentType>
    <CreateDate>2026-08-07T10:00:00</CreateDate>
    <NodeName Default="Bắt đầu">
      <Name Culture="en-US">Getting Started</Name>
      <Name Culture="vi-VN">Bắt đầu</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryItemDescription>
      <Value Culture="en-US"><![CDATA[Setup domain, project, database and initial data import with uSync.]]></Value>
      <Value Culture="vi-VN"><![CDATA[Cài đặt domain, project, database và import dữ liệu ban đầu với uSync.]]></Value>
    </categoryItemDescription>
    <categoryItemShowInUrl>
      <Value><![CDATA[0]]></Value>
    </categoryItemShowInUrl>
    <categoryItemSortOrder>
      <Value><![CDATA[1]]></Value>
    </categoryItemSortOrder>
    <categoryItemUrlSegment>
      <Value Culture="en-US"><![CDATA[getting-started]]></Value>
      <Value Culture="vi-VN"><![CDATA[bat-dau]]></Value>
    </categoryItemUrlSegment>
  </Properties>
</Content>
