<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1b2c3d4-5555-4a5b-8c9d-e1f2a3b4c5d5" Alias="Cài đặt" Level="5">
  <Info>
    <Parent Key="9eb08237-4211-4b50-9c26-c9b8b376d528">Hướng dẫn</Parent>
    <Path>/uTPro/Sites/TheLoai/HuongDan/CaiDat</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderCategoryItem</ContentType>
    <CreateDate>2026-08-07T10:00:00</CreateDate>
    <NodeName Default="Cài đặt">
      <Name Culture="en-US">Settings</Name>
      <Name Culture="vi-VN">Cài đặt</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryItemDescription>
      <Value Culture="en-US"><![CDATA[CMS-driven settings: favicon, sitemap, robots, responsive images, contact form and Turnstile.]]></Value>
      <Value Culture="vi-VN"><![CDATA[Cài đặt từ CMS: favicon, sitemap, robots, responsive images, contact form và Turnstile.]]></Value>
    </categoryItemDescription>
    <categoryItemShowInUrl>
      <Value><![CDATA[1]]></Value>
    </categoryItemShowInUrl>
    <categoryItemSortOrder>
      <Value><![CDATA[5]]></Value>
    </categoryItemSortOrder>
    <categoryItemUrlSegment>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </categoryItemUrlSegment>
  </Properties>
</Content>