<?xml version="1.0" encoding="utf-8"?>
<Content Key="dabc5976-cdae-4022-9b96-bd9f1195c919" Alias="Cơ bản" Level="5">
  <Info>
    <Parent Key="9eb08237-4211-4b50-9c26-c9b8b376d528">Hướng dẫn</Parent>
    <Path>/uTPro/Sites/TheLoai/HuongDan/CoBan</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderCategoryItem</ContentType>
    <CreateDate>2026-08-04T03:38:01</CreateDate>
    <NodeName Default="Cơ bản">
      <Name Culture="vi-VN">Cơ bản</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryItemDescription>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </categoryItemDescription>
    <categoryItemShowInUrl>
      <Value><![CDATA[]]></Value>
    </categoryItemShowInUrl>
    <categoryItemSortOrder>
      <Value><![CDATA[]]></Value>
    </categoryItemSortOrder>
    <categoryItemUrlSegment>
      <Value><![CDATA[]]></Value>
    </categoryItemUrlSegment>
  </Properties>
</Content>