<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ffa49be-c420-41e6-a985-6cff4f5deb31" Alias="Hướng dẫn" Level="4">
  <Info>
    <Parent Key="af44e48f-d3d6-4cbf-a574-16be8973551c">Trang chủ</Parent>
    <Path>/uTPro/Sites/TrangChu/HuongDan</Path>
    <Trashed>false</Trashed>
    <ContentType>uTPro__PageStandard</ContentType>
    <CreateDate>2026-07-21T03:35:49</CreateDate>
    <NodeName Default="Hướng dẫn">
      <Name Culture="en-US">Tutorial</Name>
      <Name Culture="vi-VN">Hướng dẫn</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template Key="bc86c81e-57b2-4341-b65f-8a75ccfe60c2">globalLayout</Template>
  </Info>
  <Properties>
    <bodyClosingScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bodyClosingScripts>
    <bodyOpeningScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bodyOpeningScripts>
    <bottomComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bottomComponent>
    <content>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </content>
    <facebookAppId>
      <Value><![CDATA[]]></Value>
    </facebookAppId>
    <headerClosingScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headerClosingScripts>
    <headerOpeningScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headerOpeningScripts>
    <headKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headKeywords>
    <headSocialShareImage>
      <Value><![CDATA[]]></Value>
    </headSocialShareImage>
    <headTitleAndDescription>
      <Value Culture="en-US"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "Tutorial"
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "H\u01B0\u1EDBng d\u1EABn"
}]]></Value>
    </headTitleAndDescription>
    <layout>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </layout>
    <ogDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <sidebarComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </sidebarComponent>
    <sitemapHiddenSitemap>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenSitemap>
    <sitemapHiddenTheirChildren>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenTheirChildren>
    <sitemapStopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </sitemapStopInternalLinksBeingFollowed>
    <sitemapXmlChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXmlChangeFrequency>
    <sitemapXmlPriority>
      <Value><![CDATA[-0.1]]></Value>
    </sitemapXmlPriority>
    <topComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </topComponent>
    <twitterCardType>
      <Value><![CDATA[]]></Value>
    </twitterCardType>
    <twitterDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterImage>
    <twitterImageAlt>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterImageAlt>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
    <twitterTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterTitle>
  </Properties>
</Content>