<?xml version="1.0" encoding="utf-8"?>
<Content Key="dabc5976-cdae-4022-9b96-bd9f1195c919" Alias="Hướng dẫn chung" Level="101">
  <Info>
    <Parent Key="0f582a79-1e41-4cf0-bfa0-76340651891a">Recycle Bin</Parent>
    <Path>/RecycleBin/HuongDanChung</Path>
    <Trashed Parent="9eb08237-4211-4b50-9c26-c9b8b376d528">true</Trashed>
    <ContentType>globalFolderCategoryItem</ContentType>
    <CreateDate>2026-08-04T03:38:01</CreateDate>
    <NodeName Default="Hướng dẫn chung">
      <Name Culture="en-US">General Guidelines</Name>
      <Name Culture="vi-VN">Hướng dẫn chung</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryItemDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </categoryItemDescription>
    <categoryItemShowInUrl>
      <Value><![CDATA[0]]></Value>
    </categoryItemShowInUrl>
    <categoryItemSortOrder>
      <Value><![CDATA[0]]></Value>
    </categoryItemSortOrder>
    <categoryItemUrlSegment>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </categoryItemUrlSegment>
  </Properties>
</Content>