<?xml version="1.0" encoding="utf-8"?>
<Content Key="9eb08237-4211-4b50-9c26-c9b8b376d528" Alias="Hướng dẫn" Level="4">
  <Info>
    <Parent Key="3aca3c0e-37e3-4059-8fa4-5270153ab7e7">Thể loại</Parent>
    <Path>/uTPro/Sites/TheLoai/HuongDan</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderCategoryGroup</ContentType>
    <CreateDate>2026-08-04T03:37:30</CreateDate>
    <NodeName Default="Hướng dẫn">
      <Name Culture="vi-VN">Hướng dẫn</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryGroupDescription>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </categoryGroupDescription>
    <categoryGroupSortOrder>
      <Value><![CDATA[]]></Value>
    </categoryGroupSortOrder>
  </Properties>
</Content>