<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ffa49be-c420-41e6-a985-6cff4f5deb31" Alias="Hướng dẫn" Level="4">
  <Info>
    <Parent Key="af44e48f-d3d6-4cbf-a574-16be8973551c">Trang chủ</Parent>
    <Path>/uTPro/Sites/TrangChu/HuongDan</Path>
    <Trashed>false</Trashed>
    <ContentType>uTPro__PageStandard</ContentType>
    <CreateDate>2026-07-21T03:35:49</CreateDate>
    <NodeName Default="Hướng dẫn">
      <Name Culture="en-US">User Guide</Name>
      <Name Culture="vi-VN">Hướng dẫn</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template Key="bc86c81e-57b2-4341-b65f-8a75ccfe60c2">globalLayout</Template>
  </Info>
  <Properties>
    <bodyClosingScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bodyClosingScripts>
    <bodyOpeningScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bodyOpeningScripts>
    <bottomComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bottomComponent>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <content>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b83a788-622b-4210-afad-eac8988de0dd",
      "key": "6c49cea9-9a92-464f-84cb-aada0bbc4f27",
      "values": [
        {
          "alias": "backgroundColor",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fff"
          }
        },
        {
          "alias": "backgroundOpacity",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "title",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "User Guide"
        }
      ]
    },
    {
      "contentTypeKey": "4040820e-695d-4ca4-b18c-67b813fea549",
      "key": "f8c7ff13-5dc4-41a9-867d-2d86d0f8207c",
      "values": [
        {
          "alias": "pageListLayout",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "grid-3col"
        },
        {
          "alias": "pageListSource",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/66b8678d4eaf4c509617db2e567abc53"
        },
        {
          "alias": "pageListItemsPerPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12"
        },
        {
          "alias": "pageListMaxDepth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowThumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowCategories",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "7933a097-e795-4929-9746-d802b4ed8595",
      "key": "d14c0ea1-0f4b-4f98-bf59-51993e112cc5",
      "values": [
        {
          "alias": "description",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Explore the latest insights and articles on content management, digital strategies, and innovation. From AI-powered CMS tools to modular design principles, discover how to elevate your digital experiences and stay ahead in a rapidly evolving landscape. Browse all of our thought leadership and practical guides below."
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "652e871c-b241-4be6-80f0-cf7cadad5051",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "5e69beb4-2177-4552-8365-a60411d04bc5",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "2f4f7f48-526e-46d3-aa35-8ba5a4c8da9c",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6c49cea9-9a92-464f-84cb-aada0bbc4f27",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "f8c7ff13-5dc4-41a9-867d-2d86d0f8207c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d14c0ea1-0f4b-4f98-bf59-51993e112cc5",
      "culture": "en-US",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "d14c0ea1-0f4b-4f98-bf59-51993e112cc5",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2f4f7f48-526e-46d3-aa35-8ba5a4c8da9c",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "f8c7ff13-5dc4-41a9-867d-2d86d0f8207c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "5e69beb4-2177-4552-8365-a60411d04bc5",
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "6c49cea9-9a92-464f-84cb-aada0bbc4f27",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "652e871c-b241-4be6-80f0-cf7cadad5051",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b83a788-622b-4210-afad-eac8988de0dd",
      "key": "7a11b373-51fa-4488-906a-3e62d14a2355",
      "values": [
        {
          "alias": "textColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#282b34"
          }
        },
        {
          "alias": "backgroundColor",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fff"
          }
        },
        {
          "alias": "title",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "H\u01B0\u1EDBng d\u1EABn"
        },
        {
          "alias": "backgroundOpacity",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "4040820e-695d-4ca4-b18c-67b813fea549",
      "key": "a25512fd-f5a6-4f4a-ba00-a4aee3960360",
      "values": [
        {
          "alias": "pageListSource",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/66b8678d4eaf4c509617db2e567abc53"
        },
        {
          "alias": "pageListItemsPerPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12"
        },
        {
          "alias": "pageListMaxDepth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowThumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowCategories",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListLayout",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "grid-3col"
        }
      ]
    },
    {
      "contentTypeKey": "7933a097-e795-4929-9746-d802b4ed8595",
      "key": "8481c248-0bf5-4ab8-9982-b9aa737c10e1",
      "values": [
        {
          "alias": "description",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "Kh\u00E1m ph\u00E1 nh\u1EEFng th\u00F4ng tin chuy\u00EAn s\u00E2u v\u00E0 b\u00E0i vi\u1EBFt m\u1EDBi nh\u1EA5t v\u1EC1 qu\u1EA3n l\u00FD n\u1ED9i dung, chi\u1EBFn l\u01B0\u1EE3c k\u1EF9 thu\u1EADt s\u1ED1 v\u00E0 \u0111\u1ED5i m\u1EDBi s\u00E1ng t\u1EA1o. T\u1EEB c\u00E1c c\u00F4ng c\u1EE5 CMS t\u00EDch h\u1EE3p AI \u0111\u1EBFn c\u00E1c nguy\u00EAn t\u1EAFc thi\u1EBFt k\u1EBF d\u1EA1ng m\u00F4-\u0111un, h\u00E3y t\u00ECm hi\u1EC3u c\u00E1ch n\u00E2ng t\u1EA7m tr\u1EA3i nghi\u1EC7m k\u1EF9 thu\u1EADt s\u1ED1 v\u00E0 duy tr\u00EC l\u1EE3i th\u1EBF c\u1EA1nh tranh trong m\u1ED9t m\u00F4i tr\u01B0\u1EDDng \u0111ang thay \u0111\u1ED5i nhanh ch\u00F3ng. M\u1EDDi b\u1EA1n tham kh\u1EA3o c\u00E1c n\u1ED9i dung chia s\u1EBB chuy\u00EAn m\u00F4n v\u00E0 h\u01B0\u1EDBng d\u1EABn th\u1EF1c ti\u1EC5n c\u1EE7a ch\u00FAng t\u00F4i d\u01B0\u1EDBi \u0111\u00E2y."
        },
        {
          "alias": "title",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "dce973f0-7214-455c-a61e-e7686fea8595",
      "values": [
        {
          "alias": "hidden",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "c744b579-bec5-48ec-9eca-ee3c8ab4f67e",
      "values": [
        {
          "alias": "hidden",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "210b8e5d-66e2-40c1-aefe-ec7515c0687e",
      "values": [
        {
          "alias": "hidden",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7a11b373-51fa-4488-906a-3e62d14a2355",
      "culture": "vi-VN",
      "segment": null
    },
    {
      "contentKey": "a25512fd-f5a6-4f4a-ba00-a4aee3960360",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8481c248-0bf5-4ab8-9982-b9aa737c10e1",
      "culture": "vi-VN",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "8481c248-0bf5-4ab8-9982-b9aa737c10e1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "210b8e5d-66e2-40c1-aefe-ec7515c0687e",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a25512fd-f5a6-4f4a-ba00-a4aee3960360",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c744b579-bec5-48ec-9eca-ee3c8ab4f67e",
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7a11b373-51fa-4488-906a-3e62d14a2355",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "dce973f0-7214-455c-a61e-e7686fea8595",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
    <facebookAppId>
      <Value><![CDATA[]]></Value>
    </facebookAppId>
    <headerClosingScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headerClosingScripts>
    <headerOpeningScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headerOpeningScripts>
    <headKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headKeywords>
    <headSocialShareImage>
      <Value><![CDATA[]]></Value>
    </headSocialShareImage>
    <headTitleAndDescription>
      <Value Culture="en-US"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "User Guide"
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "H\u01B0\u1EDBng d\u1EABn"
}]]></Value>
    </headTitleAndDescription>
    <layout>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </layout>
    <ogDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <sidebarComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </sidebarComponent>
    <sitemapHiddenSitemap>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenSitemap>
    <sitemapHiddenTheirChildren>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenTheirChildren>
    <sitemapStopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </sitemapStopInternalLinksBeingFollowed>
    <sitemapXmlChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXmlChangeFrequency>
    <sitemapXmlPriority>
      <Value><![CDATA[-0.1]]></Value>
    </sitemapXmlPriority>
    <tags>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </tags>
    <topComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </topComponent>
    <twitterCardType>
      <Value><![CDATA[]]></Value>
    </twitterCardType>
    <twitterDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterImage>
    <twitterImageAlt>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterImageAlt>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
    <twitterTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterTitle>
  </Properties>
</Content>