<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1b2c3d4-2222-4a5b-8c9d-e1f2a3b4c5d2" Alias="Kiến trúc" Level="5">
  <Info>
    <Parent Key="9eb08237-4211-4b50-9c26-c9b8b376d528">Hướng dẫn</Parent>
    <Path>/uTPro/Sites/TheLoai/HuongDan/KienTruc</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderCategoryItem</ContentType>
    <CreateDate>2026-08-07T10:00:00</CreateDate>
    <NodeName Default="Kiến trúc">
      <Name Culture="en-US">Architecture</Name>
      <Name Culture="vi-VN">Kiến trúc</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryItemDescription>
      <Value Culture="en-US"><![CDATA[Solution structure, modular architecture, middleware pipeline and Script Queue system.]]></Value>
      <Value Culture="vi-VN"><![CDATA[Cấu trúc solution, kiến trúc module, middleware pipeline và hệ thống Script Queue.]]></Value>
    </categoryItemDescription>
    <categoryItemShowInUrl>
      <Value><![CDATA[0]]></Value>
    </categoryItemShowInUrl>
    <categoryItemSortOrder>
      <Value><![CDATA[2]]></Value>
    </categoryItemSortOrder>
    <categoryItemUrlSegment>
      <Value Culture="en-US"><![CDATA[architecture]]></Value>
      <Value Culture="vi-VN"><![CDATA[kien-truc]]></Value>
    </categoryItemUrlSegment>
  </Properties>
</Content>
