<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9f9113e-aa1f-4b7b-9beb-6d6d92c67fa0" Alias="Navigation Link" Level="3">
  <Info>
    <Parent Key="3b95e2c2-4845-4c0a-a702-322c484326c1">Sites</Parent>
    <Path>/uTPro/Sites/NavigationLink</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderNavigationLinkForSite</ContentType>
    <CreateDate>2025-12-07T21:48:01</CreateDate>
    <NodeName Default="Navigation Link">
      <Name Culture="en-US">Navigation Link</Name>
      <Name Culture="vi-VN">Navigation Link</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationItems>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "key": "3ef90f62-684e-41c2-a2c4-2c1be3d333dd",
      "values": [
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/af44e48fd3d64cbfa57416be8973551c",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "navOuterCSSClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "nav-show-mobile"
        }
      ]
    },
    {
      "contentTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "key": "320ffda2-6aa5-450a-9671-0db495f5c7a1",
      "values": [
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/af44e48fd3d64cbfa57416be8973551c",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "navInnerCssClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "nav-logo-href"
        },
        {
          "alias": "navOuterCSSClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "nav-show-not-mobile nav-logo"
        },
        {
          "alias": "navHideLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "key": "16edc96e-3e8c-4f54-b4b5-d2516ffb6d1c",
      "values": [
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/26de137dff7b4ba99d710cc26a4b9f1c",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "key": "aba07811-9252-4678-b29e-4d8ecb15d09e",
      "values": [
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/5fb13b790d8c46168e6f88e6063bcb94",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3ef90f62-684e-41c2-a2c4-2c1be3d333dd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "320ffda2-6aa5-450a-9671-0db495f5c7a1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "16edc96e-3e8c-4f54-b4b5-d2516ffb6d1c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aba07811-9252-4678-b29e-4d8ecb15d09e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3ef90f62-684e-41c2-a2c4-2c1be3d333dd",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "320ffda2-6aa5-450a-9671-0db495f5c7a1",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "16edc96e-3e8c-4f54-b4b5-d2516ffb6d1c",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "aba07811-9252-4678-b29e-4d8ecb15d09e",
      "culture": "en-US",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3ef90f62-684e-41c2-a2c4-2c1be3d333dd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "320ffda2-6aa5-450a-9671-0db495f5c7a1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "16edc96e-3e8c-4f54-b4b5-d2516ffb6d1c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "aba07811-9252-4678-b29e-4d8ecb15d09e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "key": "d52170cc-75d3-4677-9d25-011b0446a4fd",
      "values": [
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/af44e48fd3d64cbfa57416be8973551c",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "navOuterCSSClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "nav-show-mobile"
        }
      ]
    },
    {
      "contentTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "key": "1ba4cef3-5feb-4bab-a5e6-9e0c79f1e20d",
      "values": [
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/26de137dff7b4ba99d710cc26a4b9f1c",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "key": "89381ab3-f136-4cf3-87ff-c758b04617c5",
      "values": [
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/5fb13b790d8c46168e6f88e6063bcb94",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f2d27ace-8e87-436a-a1b5-382b9baa130d",
      "key": "4f467add-f5c3-4ab5-bf2c-12e20f2ec57a",
      "values": [
        {
          "alias": "navInnerCssClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "nav-logo-href"
        },
        {
          "alias": "navOuterCSSClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "nav-show-not-mobile nav-logo"
        },
        {
          "alias": "navHideLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "navLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/af44e48fd3d64cbfa57416be8973551c",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d52170cc-75d3-4677-9d25-011b0446a4fd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1ba4cef3-5feb-4bab-a5e6-9e0c79f1e20d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "89381ab3-f136-4cf3-87ff-c758b04617c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4f467add-f5c3-4ab5-bf2c-12e20f2ec57a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d52170cc-75d3-4677-9d25-011b0446a4fd",
      "culture": "vi-VN",
      "segment": null
    },
    {
      "contentKey": "4f467add-f5c3-4ab5-bf2c-12e20f2ec57a",
      "culture": "vi-VN",
      "segment": null
    },
    {
      "contentKey": "1ba4cef3-5feb-4bab-a5e6-9e0c79f1e20d",
      "culture": "vi-VN",
      "segment": null
    },
    {
      "contentKey": "89381ab3-f136-4cf3-87ff-c758b04617c5",
      "culture": "vi-VN",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d52170cc-75d3-4677-9d25-011b0446a4fd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4f467add-f5c3-4ab5-bf2c-12e20f2ec57a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1ba4cef3-5feb-4bab-a5e6-9e0c79f1e20d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "89381ab3-f136-4cf3-87ff-c758b04617c5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </navigationItems>
  </Properties>
</Content>