<?xml version="1.0" encoding="utf-8"?>
<Content Key="66b8678d-4eaf-4c50-9617-db2e567abc53" Alias="Pages" Level="5">
  <Info>
    <Parent Key="4ffa49be-c420-41e6-a985-6cff4f5deb31">Hướng dẫn</Parent>
    <Path>/uTPro/Sites/TrangChu/HuongDan/Pages</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderPages</ContentType>
    <CreateDate>2026-07-21T03:36:44</CreateDate>
    <NodeName Default="Pages">
      <Name Culture="vi-VN">Pages</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bottomComponent>
      <Value><![CDATA[]]></Value>
    </bottomComponent>
    <defaultLayout>
      <Value><![CDATA[right-sidebar]]></Value>
    </defaultLayout>
    <sidebarComponent>
      <Value><![CDATA[]]></Value>
    </sidebarComponent>
    <topComponent>
      <Value><![CDATA[]]></Value>
    </topComponent>
  </Properties>
</Content>