<?xml version="1.0" encoding="utf-8"?>
<Content Key="66b8678d-4eaf-4c50-9617-db2e567abc53" Alias="Pages" Level="5">
  <Info>
    <Parent Key="4ffa49be-c420-41e6-a985-6cff4f5deb31">Hướng dẫn</Parent>
    <Path>/uTPro/Sites/TrangChu/HuongDan/Pages</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderPages</ContentType>
    <CreateDate>2026-07-21T03:36:44</CreateDate>
    <NodeName Default="Pages">
      <Name Culture="en-US">Pages</Name>
      <Name Culture="vi-VN">Pages</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <appendToInherited>
      <Value><![CDATA[1]]></Value>
    </appendToInherited>
    <bottomComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bottomComponent>
    <defaultLayout>
      <Value><![CDATA[right-sidebar]]></Value>
    </defaultLayout>
    <sidebarComponent>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4971e6a-ca59-459b-98a5-30364eda75e8",
      "key": "d7c4f9ff-69bd-49d8-a7c6-4fdb54ceb195",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Search"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d7c4f9ff-69bd-49d8-a7c6-4fdb54ceb195",
      "culture": "en-US",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d7c4f9ff-69bd-49d8-a7c6-4fdb54ceb195",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4971e6a-ca59-459b-98a5-30364eda75e8",
      "key": "c982b2d1-0a0e-426d-b483-09e0208321d2",
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "T\u00ECm ki\u1EBFm"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c982b2d1-0a0e-426d-b483-09e0208321d2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c982b2d1-0a0e-426d-b483-09e0208321d2",
      "culture": "vi-VN",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "c982b2d1-0a0e-426d-b483-09e0208321d2",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sidebarComponent>
    <topComponent>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d0509f53-fd13-44c9-acc8-220310e2545c",
      "key": "fedd0bfd-7fc4-499e-9b82-80775d31696e",
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "fedd0bfd-7fc4-499e-9b82-80775d31696e",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "fedd0bfd-7fc4-499e-9b82-80775d31696e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b83a788-622b-4210-afad-eac8988de0dd",
      "key": "2ba7ff3f-be02-4546-84fa-cbb2f72c9910",
      "values": [
        {
          "alias": "title",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundOpacity",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d0509f53-fd13-44c9-acc8-220310e2545c",
      "key": "cdf71672-4181-472f-9054-b5393b8eb8be",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "724aa08e-780c-4c0e-9c73-d4b6c958d5a1",
      "values": [
        {
          "alias": "addStyleSpacing",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": [
            "Remove Spacing"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2ba7ff3f-be02-4546-84fa-cbb2f72c9910",
      "culture": "vi-VN",
      "segment": null
    },
    {
      "contentKey": "cdf71672-4181-472f-9054-b5393b8eb8be",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "cdf71672-4181-472f-9054-b5393b8eb8be",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "2ba7ff3f-be02-4546-84fa-cbb2f72c9910",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "724aa08e-780c-4c0e-9c73-d4b6c958d5a1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </topComponent>
  </Properties>
</Content>