<?xml version="1.0" encoding="utf-8"?>
<Content Key="66b8678d-4eaf-4c50-9617-db2e567abc53" Alias="Pages" Level="5">
  <Info>
    <Parent Key="4ffa49be-c420-41e6-a985-6cff4f5deb31">Hướng dẫn</Parent>
    <Path>/uTPro/Sites/TrangChu/HuongDan/Pages</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderPages</ContentType>
    <CreateDate>2026-07-21T03:36:44</CreateDate>
    <NodeName Default="Pages">
      <Name Culture="en-US">Pages</Name>
      <Name Culture="vi-VN">Pages</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template Key="ef298462-5019-424d-8fc4-769a6668be3a">globalRedirectParent</Template>
  </Info>
  <Properties>
    <appendToInherited>
      <Value><![CDATA[1]]></Value>
    </appendToInherited>
    <bottomComponent>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b83a788-622b-4210-afad-eac8988de0dd",
      "key": "fdd975ef-61b8-42e1-a654-bf52c29c3b0c",
      "values": [
        {
          "alias": "textColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#282b34"
          }
        },
        {
          "alias": "backgroundColor",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f3f3f3"
          }
        },
        {
          "alias": "title",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Latest posts"
        },
        {
          "alias": "backgroundOpacity",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "4040820e-695d-4ca4-b18c-67b813fea549",
      "key": "3be3b068-9a3a-4832-8e4a-0fe710ec9648",
      "values": [
        {
          "alias": "pageListLayout",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "grid-3col"
        },
        {
          "alias": "pageListSource",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/66b8678d4eaf4c509617db2e567abc53"
        },
        {
          "alias": "pageListItemsPerPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "pageListMaxDepth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListMaxItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "pageListShowThumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowCategories",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "cef6de49-80e6-4bec-88e0-efe0ebb76996",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "8b738b09-22b1-4abb-b308-ebe66cd64e4d",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "fdd975ef-61b8-42e1-a654-bf52c29c3b0c",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "3be3b068-9a3a-4832-8e4a-0fe710ec9648",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "3be3b068-9a3a-4832-8e4a-0fe710ec9648",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "8b738b09-22b1-4abb-b308-ebe66cd64e4d",
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "fdd975ef-61b8-42e1-a654-bf52c29c3b0c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "cef6de49-80e6-4bec-88e0-efe0ebb76996",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b83a788-622b-4210-afad-eac8988de0dd",
      "key": "db0d1c07-0f70-42c8-a8c6-b3e5395b50a1",
      "values": [
        {
          "alias": "textColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#282b34"
          }
        },
        {
          "alias": "backgroundOpacity",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "title",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "B\u00E0i vi\u1EBFt m\u1EDBi nh\u1EA5t"
        },
        {
          "alias": "backgroundColor",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f3f3f3"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4040820e-695d-4ca4-b18c-67b813fea549",
      "key": "00415478-96a0-4161-8920-af34f5adfecc",
      "values": [
        {
          "alias": "pageListItemsPerPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "pageListMaxDepth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowThumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowCategories",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListLayout",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "grid-3col"
        },
        {
          "alias": "pageListSource",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/66b8678d4eaf4c509617db2e567abc53"
        },
        {
          "alias": "pageListMaxItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "1b37006d-ccd0-4f15-9e48-380f1187d6cd",
      "values": [
        {
          "alias": "hidden",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "99263403-f15d-443b-a0ca-34a769ce3cf1",
      "values": [
        {
          "alias": "hidden",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "db0d1c07-0f70-42c8-a8c6-b3e5395b50a1",
      "culture": "vi-VN",
      "segment": null
    },
    {
      "contentKey": "00415478-96a0-4161-8920-af34f5adfecc",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "00415478-96a0-4161-8920-af34f5adfecc",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "99263403-f15d-443b-a0ca-34a769ce3cf1",
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "db0d1c07-0f70-42c8-a8c6-b3e5395b50a1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1b37006d-ccd0-4f15-9e48-380f1187d6cd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bottomComponent>
    <defaultLayout>
      <Value><![CDATA[right-sidebar]]></Value>
    </defaultLayout>
    <showInUrl>
      <Value><![CDATA[0]]></Value>
    </showInUrl>
    <sidebarComponent>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4971e6a-ca59-459b-98a5-30364eda75e8",
      "key": "d7c4f9ff-69bd-49d8-a7c6-4fdb54ceb195",
      "values": [
        {
          "alias": "searchResultPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/e5e0c4d3232b4d47a7a4bf17229bedbf"
        },
        {
          "alias": "header",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Search"
        }
      ]
    },
    {
      "contentTypeKey": "fb1a3312-6844-4ae1-93c0-b92a77134286",
      "key": "6ee2d7ab-1556-41f7-bf30-f93ae08063e4",
      "values": [
        {
          "alias": "filterByCategory",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/a1b2c3d411114a5b8c9de1f2a3b4c5d1,umb://document/a1b2c3d477774a5b8c9de1f2a3b4c5d7,umb://document/a1b2c3d466664a5b8c9de1f2a3b4c5d6,umb://document/a1b2c3d455554a5b8c9de1f2a3b4c5d5,umb://document/a1b2c3d444444a5b8c9de1f2a3b4c5d4,umb://document/a1b2c3d433334a5b8c9de1f2a3b4c5d3,umb://document/a1b2c3d422224a5b8c9de1f2a3b4c5d2"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "3441b07b-962b-41aa-8f3b-2829b1dde1e2",
      "values": []
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "21b6bea8-ad96-4519-820d-f66c757b36e8",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hidden",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d7c4f9ff-69bd-49d8-a7c6-4fdb54ceb195",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "6ee2d7ab-1556-41f7-bf30-f93ae08063e4",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d7c4f9ff-69bd-49d8-a7c6-4fdb54ceb195",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3441b07b-962b-41aa-8f3b-2829b1dde1e2",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "6ee2d7ab-1556-41f7-bf30-f93ae08063e4",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "21b6bea8-ad96-4519-820d-f66c757b36e8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4971e6a-ca59-459b-98a5-30364eda75e8",
      "key": "c982b2d1-0a0e-426d-b483-09e0208321d2",
      "values": [
        {
          "alias": "searchResultPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/e5e0c4d3232b4d47a7a4bf17229bedbf"
        },
        {
          "alias": "searchParameter",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "header",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "T\u00ECm ki\u1EBFm"
        }
      ]
    },
    {
      "contentTypeKey": "fb1a3312-6844-4ae1-93c0-b92a77134286",
      "key": "3771ced8-e5ae-4037-bca6-d484485aeeae",
      "values": [
        {
          "alias": "filterByCategory",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/a1b2c3d411114a5b8c9de1f2a3b4c5d1,umb://document/a1b2c3d477774a5b8c9de1f2a3b4c5d7,umb://document/a1b2c3d422224a5b8c9de1f2a3b4c5d2,umb://document/a1b2c3d433334a5b8c9de1f2a3b4c5d3,umb://document/a1b2c3d444444a5b8c9de1f2a3b4c5d4,umb://document/a1b2c3d455554a5b8c9de1f2a3b4c5d5,umb://document/a1b2c3d466664a5b8c9de1f2a3b4c5d6"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "fa9401af-c6b4-43dd-8e33-e11c62ca2a12",
      "values": []
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "e6d1c410-ffce-4a1e-ad1c-dc0686356108",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hidden",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c982b2d1-0a0e-426d-b483-09e0208321d2",
      "culture": "vi-VN",
      "segment": null
    },
    {
      "contentKey": "3771ced8-e5ae-4037-bca6-d484485aeeae",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "c982b2d1-0a0e-426d-b483-09e0208321d2",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fa9401af-c6b4-43dd-8e33-e11c62ca2a12",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "3771ced8-e5ae-4037-bca6-d484485aeeae",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e6d1c410-ffce-4a1e-ad1c-dc0686356108",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sidebarComponent>
    <topComponent>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d0509f53-fd13-44c9-acc8-220310e2545c",
      "key": "fedd0bfd-7fc4-499e-9b82-80775d31696e",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "718025cf-2165-42c0-822e-5ab2954e33ab",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "fedd0bfd-7fc4-499e-9b82-80775d31696e",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "fedd0bfd-7fc4-499e-9b82-80775d31696e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "718025cf-2165-42c0-822e-5ab2954e33ab",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b83a788-622b-4210-afad-eac8988de0dd",
      "key": "2ba7ff3f-be02-4546-84fa-cbb2f72c9910",
      "values": [
        {
          "alias": "title",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundOpacity",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d0509f53-fd13-44c9-acc8-220310e2545c",
      "key": "cdf71672-4181-472f-9054-b5393b8eb8be",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "724aa08e-780c-4c0e-9c73-d4b6c958d5a1",
      "values": [
        {
          "alias": "addStyleSpacing",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": [
            "Remove Spacing"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "a5652b3b-1347-400a-88be-02799cfed8c2",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "2ba7ff3f-be02-4546-84fa-cbb2f72c9910",
      "culture": "vi-VN",
      "segment": null
    },
    {
      "contentKey": "cdf71672-4181-472f-9054-b5393b8eb8be",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "cdf71672-4181-472f-9054-b5393b8eb8be",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a5652b3b-1347-400a-88be-02799cfed8c2",
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "2ba7ff3f-be02-4546-84fa-cbb2f72c9910",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "724aa08e-780c-4c0e-9c73-d4b6c958d5a1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </topComponent>
  </Properties>
</Content>