<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1b2c3d4-6666-4a5b-8c9d-e1f2a3b4c5d6" Alias="Tham khảo Dev" Level="5">
  <Info>
    <Parent Key="9eb08237-4211-4b50-9c26-c9b8b376d528">Hướng dẫn</Parent>
    <Path>/uTPro/Sites/TheLoai/HuongDan/ThamKhaoDev</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderCategoryItem</ContentType>
    <CreateDate>2026-08-07T10:00:00</CreateDate>
    <NodeName Default="Tham khảo Dev">
      <Name Culture="en-US">Developer Reference</Name>
      <Name Culture="vi-VN">Tham khảo Dev</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryItemDescription>
      <Value Culture="en-US"><![CDATA[Razor helpers, extensions, CSS architecture, responsive images and block preview for developers.]]></Value>
      <Value Culture="vi-VN"><![CDATA[Razor helpers, extensions, CSS architecture, responsive images và block preview cho lập trình viên.]]></Value>
    </categoryItemDescription>
    <categoryItemShowInUrl>
      <Value><![CDATA[1]]></Value>
    </categoryItemShowInUrl>
    <categoryItemSortOrder>
      <Value><![CDATA[6]]></Value>
    </categoryItemSortOrder>
    <categoryItemUrlSegment>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </categoryItemUrlSegment>
  </Properties>
</Content>