<?xml version="1.0" encoding="utf-8"?>
<Content Key="3aca3c0e-37e3-4059-8fa4-5270153ab7e7" Alias="Thể loại" Level="3">
  <Info>
    <Parent Key="3b95e2c2-4845-4c0a-a702-322c484326c1">Sites</Parent>
    <Path>/uTPro/Sites/TheLoai</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderPageCategories</ContentType>
    <CreateDate>2026-07-30T08:22:26</CreateDate>
    <NodeName Default="Thể loại">
      <Name Culture="en-US">Categories</Name>
      <Name Culture="vi-VN">Thể loại</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>