<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5e0c4d3-232b-4d47-a7a4-bf17229bedbf" Alias="Tìm kiếm" Level="4">
  <Info>
    <Parent Key="af44e48f-d3d6-4cbf-a574-16be8973551c">Trang chủ</Parent>
    <Path>/uTPro/Sites/TrangChu/TimKiem</Path>
    <Trashed>false</Trashed>
    <ContentType>uTPro__PageStandard</ContentType>
    <CreateDate>2026-08-07T17:34:16</CreateDate>
    <NodeName Default="Tìm kiếm">
      <Name Culture="en-US">Search</Name>
      <Name Culture="vi-VN">Tìm kiếm</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template Key="bc86c81e-57b2-4341-b65f-8a75ccfe60c2">globalLayout</Template>
  </Info>
  <Properties>
    <bodyClosingScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bodyClosingScripts>
    <bodyOpeningScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bodyOpeningScripts>
    <bottomComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </bottomComponent>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <content>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b83a788-622b-4210-afad-eac8988de0dd",
      "key": "a53b3d22-89e2-45ad-b170-b79538f70cd5",
      "values": [
        {
          "alias": "backgroundColor",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fff"
          }
        },
        {
          "alias": "title",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Search"
        },
        {
          "alias": "backgroundOpacity",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "12a67528-6f73-4a62-ae5c-9db09c4cbd31",
      "key": "a79eb0a6-5f23-4d64-aa32-589a2c2fe30e",
      "values": [
        {
          "alias": "pageListLayout",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "grid-3col"
        },
        {
          "alias": "pageListSource",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/66b8678d4eaf4c509617db2e567abc53"
        },
        {
          "alias": "searchMinChars",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "searchHighlightKeywords",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListItemsPerPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12"
        },
        {
          "alias": "pageListMaxDepth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowThumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowCategories",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "22e2fdf0-769c-4d80-b638-d80e8c012952",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "900368ea-8ae6-4231-9def-8321d01ab8e6",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a53b3d22-89e2-45ad-b170-b79538f70cd5",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "a79eb0a6-5f23-4d64-aa32-589a2c2fe30e",
      "culture": "en-US",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a79eb0a6-5f23-4d64-aa32-589a2c2fe30e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "900368ea-8ae6-4231-9def-8321d01ab8e6",
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a53b3d22-89e2-45ad-b170-b79538f70cd5",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "22e2fdf0-769c-4d80-b638-d80e8c012952",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4b83a788-622b-4210-afad-eac8988de0dd",
      "key": "32d2b894-a0e9-47b6-86fe-fb07910d7921",
      "values": [
        {
          "alias": "textColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#282b34"
          }
        },
        {
          "alias": "backgroundOpacity",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "title",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "T\u00ECm ki\u1EBFm"
        },
        {
          "alias": "backgroundOpacity",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#fff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "12a67528-6f73-4a62-ae5c-9db09c4cbd31",
      "key": "139ed1fc-0e42-41cc-ac66-1acbbf5c3c55",
      "values": [
        {
          "alias": "pageListSource",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/66b8678d4eaf4c509617db2e567abc53"
        },
        {
          "alias": "searchMinChars",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "searchHighlightKeywords",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListItemsPerPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12"
        },
        {
          "alias": "pageListMaxDepth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowThumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListShowDate",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "pageListShowCategories",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "pageListLayout",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "grid-3col"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "89ec0893-cdca-4419-b237-2388a294b01f",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hidden",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d8c525b6-c39b-47f9-9e7e-6cc60eae7a17",
      "key": "43b981f3-61ec-4b0b-a757-610572757c3f",
      "values": [
        {
          "alias": "hidden",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hidden",
          "culture": "vi-VN",
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "32d2b894-a0e9-47b6-86fe-fb07910d7921",
      "culture": "vi-VN",
      "segment": null
    },
    {
      "contentKey": "139ed1fc-0e42-41cc-ac66-1acbbf5c3c55",
      "culture": "vi-VN",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "139ed1fc-0e42-41cc-ac66-1acbbf5c3c55",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "43b981f3-61ec-4b0b-a757-610572757c3f",
                "settingsUdi": null
              }
            ],
            "key": "74341b8e-afe1-47c5-bd24-d94b157e8a1c"
          }
        ],
        "columnSpan": 12,
        "contentKey": "32d2b894-a0e9-47b6-86fe-fb07910d7921",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "89ec0893-cdca-4419-b237-2388a294b01f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
    <facebookAppId>
      <Value><![CDATA[]]></Value>
    </facebookAppId>
    <headerClosingScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headerClosingScripts>
    <headerOpeningScripts>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headerOpeningScripts>
    <headKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headKeywords>
    <headSocialShareImage>
      <Value><![CDATA[]]></Value>
    </headSocialShareImage>
    <headTitleAndDescription>
      <Value Culture="en-US"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "Search"
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "T\u00ECm ki\u1EBFm"
}]]></Value>
    </headTitleAndDescription>
    <layout>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </layout>
    <ogDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <sidebarComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </sidebarComponent>
    <sitemapHiddenSitemap>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenSitemap>
    <sitemapHiddenTheirChildren>
      <Value><![CDATA[0]]></Value>
    </sitemapHiddenTheirChildren>
    <sitemapStopInternalLinksBeingFollowed>
      <Value><![CDATA[0]]></Value>
    </sitemapStopInternalLinksBeingFollowed>
    <sitemapXmlChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXmlChangeFrequency>
    <sitemapXmlPriority>
      <Value><![CDATA[-0.1]]></Value>
    </sitemapXmlPriority>
    <tags>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </tags>
    <topComponent>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </topComponent>
    <twitterCardType>
      <Value><![CDATA[]]></Value>
    </twitterCardType>
    <twitterDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterImage>
    <twitterImageAlt>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterImageAlt>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
    <twitterTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </twitterTitle>
  </Properties>
</Content>