name: .NET Core Build Check

on:
 pull_request:
    branches:
      - main
      
permissions:
  contents: read
  pull-requests: read
  
jobs:
  build:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '9.0.x' # Specify your .NET Core version, e.g., 6.x, 7.x

    - name: Restore dependencies
      run: dotnet restore ./uTPro/uTPro.Web/uTPro.Web.csproj

    - name: Build
      run: dotnet build ./uTPro/uTPro.Web/uTPro.Web.csproj --no-restore

    #- name: Run tests (Optional)
      #run: dotnet test --no-build # Optional, but recommended for CI
